{% extends 'base_anonymous.html' %}


{% block content %}
    <body>
        <!-- <img src="{{url_for('static', filename='images/Template-post-social-3.jpg')}}" width=1100> -->
        <h3>Login Page</h3>
        <br/>
        <form method="POST" action="">
            {{form.hidden_tag()}}
            {{form.username.label(class="form-label")}}
            {{form.username(class="form-control")}}
            <br/>
            {{form.password.label(class="form-label")}}
            {{form.password(class="form-control")}}
            <br/>
            {{form.submit(class="btn btn-secondary")}}
        </form>
        <br/>
        <a href="{{ url_for('register') }}">Are you not registered yet?</a>

        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>

{%endblock%}